:root {
    --main-color: #a87d41;
    --text-color: #b89f1470;
    --white-color: white;
}


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/* Home */

.home {
    height: 430px;

     background-size: cover;
    background-image: url("../image/backer.jpg");   
    background-position: center;
}


.overlay {
    width: 100%;
    height: 100%;

    
}


/* Navbar */

nav {
    width: 80%;
    margin: auto;

    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: var(--white-color);
    font-size: 20px;
}


.links {
    display: flex;
    gap: 20px;
}


.links a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 12px;
}


/* Home Content */

.home-content {
    width: 500px;

    margin: 70px auto;

    text-align: center;

    color: var(--white-color);
}


.home-content h1 {
    font-family: Georgia, serif;

    font-size: 40px;

    margin: 12px 0;
}


.home-content p {
    font-size: 13px;
}


.home-content .text {
    line-height: 22px;

    margin-top: 10px;
}


/* Buttons */

.buttons {
    display: flex;

    justify-content: center;

    gap: 10px;

    margin-top: 20px;
}


.buttons button {
    padding: 12px 18px;

    border: none;

    background: var(--main-color);

    color: var(--white-color);

    cursor: pointer;
}


.buttons .contact {
    background: transparent;

    border: 1px solid var(--white-color);
}


/* About */

.about {
    width: 70%;

    margin: 50px auto;

    display: flex;

    align-items: center;

    gap: 40px;
}


/* Image */

.about-image {
    width: 50%;
}


.about-image img {
    width: 100%;
    height: 290px;

    object-fit: cover;
}


/* About Text */

.about-content {
    width: 50%;
}


.about-content h2 {
    font-family: Georgia, serif;

    font-size: 25px;

    font-weight: normal;

    margin-bottom: 20px;
}


.about-text {
    color: var(--text-color);

    font-size: 12px;

    line-height: 22px;

    margin-bottom: 20px;
}


/* List */

.item {
    display: flex;

    align-items: center;

    margin-bottom: 12px;
}


.icon {
    width: 28px;
    height: 28px;

    border: 1px solid #ddd;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    color: var(--main-color);

    margin-right: 10px;
}


.item p {
    color: var(--text-color);

    font-size: 12px;
}
